In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style="whitegrid")

In [3]:
data_path = '/Users/nehapalak/cs3410/Jahnavi_Neha_A1/retail_task/data/Retail Raw.csv'
df = pd.read_csv(data_path)
print("Loaded Raw Dataset:", data_path)

Loaded Raw Dataset: /Users/nehapalak/cs3410/Jahnavi_Neha_A1/retail_task/data/Retail Raw.csv

In [3]:
df.shape

(800000, 77)

In [4]:
df.info

<bound method DataFrame.info of         age  gender income_bracket loyalty_program  membership_years churned  \
0        41  Female         Medium              No                 3      No
1        40  Female           High             Yes                 4     Yes
2        48    Male           High              No                 4     Yes
3        19    Male            Low              No                 9     Yes
4        53  Female            Low             Yes                 8      No
...     ...     ...            ...             ...               ...     ...
799995   77   Other            Low             Yes                 0     Yes
799996   49   Other            Low             Yes                 0      No
799997   20    Male         Medium             Yes                 5      No
799998   44   Other         Medium             Yes                 7     Yes
799999   70  Female         Medium              No                 9     Yes

       marital_status  number_of_children education_level     occupation  ...  \
0             Married                   0      Bachelor's       Employed  ...
1              Single                   4             PhD       Employed  ...
2             Married                   3      Bachelor's     Unemployed  ...
3            Divorced                   3      Bachelor's        Retired  ...
4            Divorced                   2        Master's       Employed  ...
...               ...                 ...             ...            ...  ...
799995        Married                   3             PhD  Self-Employed  ...
799996       Divorced                   4             PhD        Retired  ...
799997        Married                   4             PhD     Unemployed  ...
799998        Married                   3     High School     Unemployed  ...
799999         Single                   1        Master's       Employed  ...

        distance_to_store holiday_season  season weekend  \
0                   72.83             No  Summer      No
1                   44.60            Yes    Fall      No
2                   46.15            Yes  Winter     Yes
3                    0.62             No    Fall      No
4                   38.09            Yes    Fall     Yes
...                   ...            ...     ...     ...
799995              14.73             No  Spring     Yes
799996              54.32            Yes  Summer     Yes
799997              82.19             No  Winter      No
799998              19.19            Yes  Winter      No
799999              51.10             No  Winter      No

        customer_support_calls  email_subscriptions  app_usage website_visits  \
0                           18                   No     Medium              2
1                           16                  Yes        Low             17
2                           11                  Yes       High             68
3                           15                  Yes     Medium             61
4                            0                  Yes       High             19
...                        ...                  ...        ...            ...
799995                       1                  Yes     Medium             13
799996                      15                  Yes        Low             46
799997                       0                   No        Low             72
799998                      16                  Yes       High             98
799999                      13                   No       High              5

       social_media_engagement  days_since_last_purchase
0                       Medium                         6
1                       Medium                       137
2                         High                       275
3                          Low                       182
4                         High                       330
...                        ...                       ...
799995                    High                       151
799996                     Low                       300
799997                    High                       282
799998                     Low                       278
799999                     Low                       271

[800000 rows x 77 columns]>

In [4]:
df.isnull().sum()

age                         0
gender                      0
income_bracket              0
loyalty_program             0
membership_years            0
                           ..
email_subscriptions         0
app_usage                   0
website_visits              0
social_media_engagement     0
days_since_last_purchase    0
Length: 77, dtype: int64

In [5]:
df.isnull()

,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,occupation,...,distance_to_store,holiday_season,season,weekend,customer_support_calls,email_subscriptions,app_usage,website_visits,social_media_engagement,days_since_last_purchase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
799996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
799997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
799998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
799999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
null_counts = df.isnull().sum()
null_counts = null_counts[null_counts > 0]
print(null_counts)

Series([], dtype: int64)